@model Tomasos.Models.AdminViewModels.OrdersViewModel

<div id="ManageOrders" class="panel panel-default todo-panel toggle">

    <table class="table table-hover">
        <thead>
            <tr>
                <td>User</td>
                <td>Order date</td>
                <td>Amount</td>
                <td>Delivered?</td>
            </tr>
        </thead>

        @foreach (var order in @Model.Orders)
        {
            <tr>
                <td>@order.Customer.Email</td>
                <td>@order.CustomerOrder.BestallningDatum</td>
                <td>@order.CustomerOrder.Totalbelopp</td>
                <td>
                    @await Component.InvokeAsync("Order", order)
                </td>
            </tr>

        }

    </table>
</div>