@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-3">
    <h1 class="display-4">Welcome to Tomasos Pizzeria</h1>
    <br/>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Please log in or create an account and start ordering food!</p>
    }
</div>

@if (ViewData["Result"] != null)
{
    if (ViewData["Result"].ToString() == "Success!")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Successfully updated user information!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Failed to update user information.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}