@using Microsoft.AspNetCore.Identity
@using Tomasos.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Admin" asp-action="Index"><i class="material-icons">build</i></a>
        </li>
    }
    if (!User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="material-icons">shopping_cart</i></a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Manage"><i class="material-icons">perm_identity</i></a>
    </li>
    <li class="nav-item">
        <span class="navbar-text text-light"> @User.Identity.Name</span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
