
@{
    ViewData["Title"] = "Manage users";
}
<div class="container mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="dishes-tab" data-toggle="tab" href="#dishes" role="tab" aria-controls="dishes" aria-selected="true">Dishes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Orders</a>
        </li>

    </ul>
    <div class="tab-content my-4" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            @await Component.InvokeAsync("ManageUsers")
        </div>
        <div class="tab-pane fade" id="dishes" role="tabpanel" aria-labelledby="dish-tab">
            @await Component.InvokeAsync("ManageDishes")
        </div>
        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            @await Component.InvokeAsync("ManageOrders")
        </div>
    </div>
</div>